<app-header></app-header>
<h2 class="h2">TRANG CHỦ / <strong>{{catalogName}}</strong> </h2>
<div class="container">
 <app-view-catalog></app-view-catalog>
  <div class="content-product">
    <div class="list-product">
      <div class="list-items"  *ngFor="let item of listproduct">
        <a routerLink="/detailproduct/{{item.productId}}">
          <a ><img src="{{Path + item.image}}" alt=""></a>
          <a >{{item.productName}}</a> <br>
          <a>{{convertNumber(item.price)}} VND</a>
        </a>

      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
