<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<div style="background-color: #fef6f5;">
  <app-header></app-header>
  <h2 class="h2">TRANG CHỦ / <strong>{{name}}</strong> </h2>
  <div class="container">
    <app-view-catalog></app-view-catalog>
    <div class="content-product">
      <div class="list-product">
        <div class="list-items"  *ngFor="let item of listproduct">
          <a routerLink="/detailproduct/{{item.id}}">
            <a ><img src="{{Path + item.image}}" alt=""></a>
            <a >{{item.name}}</a> <br>
            <a>{{convertNumber(item.price)}} VND</a>
          </a>

        </div>
      </div>
    </div>
  </div>


  <app-footer></app-footer>
</div>

