<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap" rel="stylesheet">
<header class="header">
  <a href=""><img src="../assets/img/login/logonew-removebg-preview.png" alt="" class="logo"></a>
  <nav class="navbar">
    <a routerLink="/home"   routerLinkActive="is-active" >TRANG CHỦ</a>
    <div class="catalogName" (click)="reloadpage()" *ngFor="let item of listcatalog">
      <a  routerLink="/dogproduct/{{item.id}}" routerLinkActive="is-active">{{item.name}}</a>
    </div>

    <a routerLink="/introduce"  routerLinkActive="is-active">GIỚI THIỆU</a>
    <a routerLink="/contact"  routerLinkActive="is-active" >LIÊN HỆ</a>
  </nav>
  <div class="icons" >
    <div class="fa-solid fa-bars" id="menu-btn" ></div>
    <div routerLink="/cart" class="fa-solid fa-bag-shopping" ></div>
    <div class="fa-solid fa-user" id="lo-re" ><span>{{username}}</span></div>

    <div class="login-register">
      <ul>
        <li><a href="" routerLink="/login"><i class="fa-solid fa-paw mr-3"></i>Đăng nhập</a></li>
        <li><a href="" routerLink="/register"><i class="fa-solid fa-paw mr-3"></i>Đăng ký</a></li>

      </ul>
    </div>

    <div class="functionuser">
      <ul>
        <li><a routerLink="/cart"><i class="fa-solid fa-paw mr-3"></i>Giỏ hàng</a></li>
        <li><a routerLink="/orderdetails"><i class="fa-solid fa-paw mr-3"></i>Đơn hàng</a></li>
        <li><a href="" (click)="logout()"><i class="fa-solid fa-paw mr-3"></i>Đăng xuất</a></li>
      </ul>
    </div>
  </div>

</header>


