
  <footer class="footer-section mt-10 ">
    <div class="container ">
      <div class="footer-cta pt-5 pb-5">
        <div class="row flex justify-center items-center">
          <div class="col-xl-4 col-md-4 mb-30">
            <div class="single-cta mr-96">
              <i class="fas fa-map-marker-alt"></i>
              <div class="cta-text">
                <h4>Tìm chúng tôi</h4>
                <span>Số 6 Ngõ 8 Khúc Trì 1 Kiến An Hải Phòng</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 mb-30 mr-96">
            <div class="single-cta">
              <i class="fas fa-phone"></i>
              <div class="cta-text">
                <h4>Gọi chúng tôi</h4>
                <span>0388303025</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 mb-30 ml-32">
            <div class="single-cta">
              <i class="far fa-envelope-open"></i>
              <div class="cta-text">
                <h4>Email</h4>
                <span>yadehnka@gmail.com</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-content pt-5 pb-5">
        <div class="row flex justify-center item-center gap-36">
          <div class="col-xl-4 col-lg-4 mb-50">
            <div class="footer-widget">
              <div class="footer-text">
                <p>Khách hàng là thượng đế</p>
              </div>
              <div class="footer-social-icon">
                <span>Follow: </span>
                <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 mb-30 ml-5">
            <div class="footer-widget">
              <div class="footer-widget-heading">
                <h3>Đường dẫn</h3>
              </div>
              <ul class="text-2xl">
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Về chúng tôi</a></li>
                <li><a href="#">Dịch vụ</a></li>
                <li><a href="#">Liên hệ</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
            <div class="footer-widget">
              <div class="footer-widget-heading">
                <h3>Đăng kí</h3>
              </div>
              <div class="footer-text mb-25">
                <p>
                  Đừng bỏ lỡ đăng ký nguồn cấp dữ liệu mới của chúng tôi, vui lòng điền vào mẫu dưới đây.</p>
              </div>
              <div class="subscribe-form">
                <form action="#">
                  <input type="text" placeholder="Địa chỉ email">
                  <button>
                    <i class="fab fa-telegram-plane"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

