<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap" rel="stylesheet">

<div class="bg">
  <app-header></app-header>
  <div class="container">
    <div class="content" *ngFor="let item of orderDetail">
      <div class="Address" >
        <h2><strong>ĐỊA CHỈ NHẬN HÀNG</strong></h2>
        <p>Tên người nhận: {{item.nameofreceiver}}</p>
        <p>Địa chỉ: {{item.addressofrecevicer}}</p>
        <p>Ngày đặt: {{item.orderDate | date: "dd-MM-yyyy"}}</p>
        <p>Trạng thái: <span class="status">{{item.status}}</span></p>
        <button class="cancel" (click)="openDialog()">Hủy</button>
      </div>
      <div class="orderdetail" >
        <div class="list-product" *ngFor="let order of item.orderdetails">
          <div class="flex justify-center">
            <div>
              <img src="{{Path + order.product.image}}" >
            </div>
            <div class="ml-5 text-3xl inline-block">
              <p class="mt-5">{{order.product.name}}</p>
              <p class="mt-10">x {{order.quantity}}</p>
            </div>
          </div>
          <div>
            <span class="text-2xl"><strong>{{convertNumber(order.totalPrice)}} VND</strong></span>
          </div>

        </div>
        <div class="price text-2xl">
          <div></div>
          <div >
            <p>Tổng tiền hàng: <strong class="pl-40">{{convertNumber(item.totalPriceOrder)}} VND</strong></p>
            <p class="pt-10 pb-10">Phí vận chuyển: <span class="pl-60">Miễn phí</span></p>
            <p>Thành tiền: <strong class="pl-52">{{convertNumber(item.totalPriceOrder)}} VND</strong></p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <app-footer></app-footer>
</div>
