<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<!--<header class="header">-->
<!--  <a href=""><img src="../assets/img/login/logonew-removebg-preview.png" alt="" class="logo"></a>-->
<!--  <nav class="navbar">-->
<!--    <a routerLink="/home" class="click">TRANG CHỦ</a>-->
<!--    <a href="#">CHÓ CẢNH</a>-->
<!--    <a href="#">MÈO CẢNH</a>-->
<!--    <a routerLink="/introduce" class="click">GIỚI THIỆU</a>-->
<!--    <a routerLink="/contact" class="click">LIÊN HỆ</a>-->
<!--  </nav>-->
<!--  <div class="icons">-->
<!--    <div class="fa-solid fa-bars" id="menu-btn" ></div>-->
<!--    <div class="fa-solid fa-bag-shopping" ></div>-->
<!--    <div class="fa-solid fa-user" id="login-btn"><span ></span></div>-->
<!--  </div>-->

<!--</header>-->

<app-header></app-header>

<div class="content">
  <img src="./assets/img/contact/bgnew.jpg" alt="" class="img">
    <div class="intro-contact">
        <h2 class="petshop_title">LIÊN HỆ VỚI CHÚNG TÔI</h2>
        <img src="./assets/img/contact/ring.svg" alt="">
      <div class="ct-contact">
        <p>Soonchi là công ty thiết kế website cao cấp có tuổi đời 8+ năm trong ngành.</p>
        <p>Ngay từ những ngày đầu hoạt động, Mona Media đã chọn cho mình một phân khúc riêng, khác biệt với hàng ngàn công ty thiết kế website trên thị trường: phân khúc của sự hiệu quả.</p>
        <p>Những website/phần   mềm từ Mona Media luôn được tư vấn, phát triển, tối ưu nhằm mang lại hiệu quả rõ rệt cho hoạt động kinh doanh của doanh nghiệp</p>
        <p class="petshop_title"><span>.</span></p>
      </div>

    </div>
</div>
<app-footer></app-footer>

