<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap" rel="stylesheet">

<div style="background-color: #fef6f5;">
  <app-header></app-header>
  <div class="title">
    <p>Giỏ Hàng</p>
  </div>
  <div class=" container">

    <div class="subnav">

      <table class="table" mat-table [dataSource]="cartDetails">

        <ng-container class="center" matColumnDef="name">
          <th class="center" mat-header-cell *matHeaderCellDef> Tên </th>
          <td class="center" mat-cell *matCellDef="let element"> {{element.product.name}} </td>
        </ng-container>

        <ng-container class="center" matColumnDef="image">
          <th class="center" mat-header-cell *matHeaderCellDef> Ảnh </th>
          <td class="img"  mat-cell *matCellDef="let element" > <img width="80px" src="{{Path + element.product.image}}"> </td>
        </ng-container>

        <ng-container class="center" matColumnDef="price">
          <th class="center" mat-header-cell *matHeaderCellDef> Giá </th>
          <td class="center" mat-cell *matCellDef="let element"> <strong>{{convertNumber(element.product.price)}} VND</strong></td>
        </ng-container>

        <ng-container class="center" matColumnDef="quantity">
          <th class="center" mat-header-cell *matHeaderCellDef> Số lượng </th>
          <td class="center " mat-cell *matCellDef="let element"> {{element.quantity}}
          </td>
        </ng-container>

        <ng-container class="center price" matColumnDef="amount">
          <th class="center" mat-header-cell *matHeaderCellDef> Tổng cộng </th>
          <td class="center totalPrice" mat-cell *matCellDef="let element" ><strong>{{convertNumber(element.totalprice)}} VND</strong> </td>
        </ng-container>

        <ng-container class="center" matColumnDef="action">
          <th class="center" mat-header-cell *matHeaderCellDef> Hành Động </th>
          <td class="center" mat-cell *matCellDef="let element">
            <i class="fa-solid fa-trash-can cursor-pointer" (click)="deleteCart(element.product.id)"></i>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>

    </div>

    <div class="line"></div>

    <div class="Total" >
      <div></div>

      <div class="total" >
        <p>Tổng cộng: <span><strong>{{convertNumber(totalPrice)}} VND</strong></span></p>
        <p>Phí vẩn chuyển: <span>Miễn Phí</span></p>
        <div></div>
        <p>Tổng tiền: <span><strong>{{convertNumber(totalPrice)}} VND</strong></span></p>

      </div>
    </div>

  </div>

  <div class="button">
    <button class="btn" routerLink="/home"><i class="fa-solid fa-arrow-left"></i> Tiếp tục mua sắm</button>
    <button class="btn" routerLink="/buyProduct">Thanh Toán</button>
  </div>


  <app-footer></app-footer>
</div>
