<app-header></app-header>
<div class="detail">

  <div class="swiper">

    <div class="swiper-container gallery-top">
      <h2 class="h2">TRANG CHỦ / <strong>CHÓ CẢNH</strong> </h2>
      <div class="swiper-wrapper">
        <img class="swiper-slide" src="/assets/img/home/chobully.jpg">
        <img class="swiper-slide" src="/assets/img/home/choalatka.jpg">
        <img class="swiper-slide" src="/assets/img/home/choeskimo.jpg">
      </div>
    </div>
    <div class="swiper-container gallery-thumbs">
      <div class="swiper-wrapper">
        <img class="swiper-slide" src="/assets/img/home/chobully.jpg">
        <img class="swiper-slide" src="/assets/img/home/choalatka.jpg">
        <img class="swiper-slide" src="/assets/img/home/choeskimo.jpg">
      </div>
    </div>
</div>
  <div class="detail-content">
    <strong>Chó American Bully</strong>
    <p>9,025,800 ₫</p>

    <p><strong>Chó Bully,</strong> hay American Bully (Bully Mỹ),
      giống chó đang lên cơn sốt tại Mỹ, châu Âu, Thái Lan và hiện
      đã lan tới Việt Nam. Đây là một giống chó mới xuất hiện từ năm
      1995, là hậu duệ trực tiếp của chó Pitbull nhưng có dáng vẻ hầm
      hố và cơ bắp hơn, tuy nhiên, Bully lại có tính khí hiền lành hơn
      nhiều so với pitbull. Hiện Bully đang rất được ưa chuộng tại Việt
      Nam và được bán ở nhiều mức giá khác nhau.</p>
    <label >Số lượng</label>
    <div class="product-count">

      <form action="#" class="display-flex">
        <div class="qtyminus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">-</div>
        <input type="number" name="quantity" min="0" value="1" class="qty">
        <div class="qtyplus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">+</div>
      </form>
      <a href="#" class="round-black-btn">Thêm vào giỏ hàng</a>
    </div>

  </div>
  </div>
<app-footer></app-footer>
