<app-header></app-header>
<div class="detail">

  <div class="swiper">

    <div class="swiper-container gallery-top">
      <h2 class="h2">TRANG CHỦ / <strong>CHÓ CẢNH</strong> </h2>
      <div class="swiper-wrapper">
        <img class="swiper-slide" src="{{Path + product.image}}">
        <img class="swiper-slide" src="/assets/img/home/choalatka.jpg">
        <img class="swiper-slide" src="/assets/img/home/choeskimo.jpg">
      </div>
    </div>
    <div class="swiper-container gallery-thumbs">
      <div class="swiper-wrapper" >
        <img class="swiper-slide" src="{{Path + product.image}}">
        <img class="swiper-slide" src="/assets/img/home/choalatka.jpg">
        <img class="swiper-slide" src="/assets/img/home/choeskimo.jpg">
      </div>
    </div>
</div>
  <div class="detail-content">
    <strong>{{product.productName}}</strong>
    <p>{{product.price}}₫</p>

    <p>{{product.description}}</p>
    <label >Số lượng</label>
    <div class="product-count">

      <form action="#" class="display-flex">
        <div class="qtyminus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">-</div>
        <input type="number" name="quantity" min="0" value="1" class="qty">
        <div class="qtyplus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">+</div>
      </form>
      <a href="#" class="round-black-btn">Thêm vào giỏ hàng</a>
    </div>

  </div>
  </div>
<app-footer></app-footer>
